/* Global Styles*/
html {
  font-size: 18px;
}
body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
}
.site-container {
  width: 960px;
  display: flex;
  justify-content: flex-end;
}
/*Header Styles*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../resources/images/glasses-bg.png);
  height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.toparea {
  background-color: cadetblue;
  margin-top: 1rem;
  color: white;
  padding: 1rem 0rem;;
  height: 3rem;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}
nav {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
nav span {
  padding-left: 2rem;
}
.topbox {
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
  margin-right: -2rem;
}

/*Main Content Section Styles*/
.main1 {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  margin-top: 3rem;
  height: 8rem;
}
.advantages {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
  width: 5rem;
  align-items: center;
  text-align: center;
  height: 8rem;
  justify-content: space-between;
}
.image {
  width: 5rem;
}
.paper {
  width: 3.5rem;
}
.main2 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  width: 960px;
  margin:auto;
}
.infobox {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}
.title {
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
  margin-bottom: 1rem;
}

/*Footer Section Styles*/
footer {
  width: 960px;
  margin: auto;
  background-color: azure;
  height: 9.5rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding-left: 4rem;
}
footer span {
  padding-left: 1rem;
}
